html {
      height: 100px;
}

body {
       width: 300px;
       background-color: grey;
       background-image: url(image/burger.jpg);
       background-size: cover;
       background-repeat: no-repeat;
       
      
     }
.container{
            width:970px;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            margin-top: auto;
            margin-bottom: auto;
            
            
              }



header {
          height: 70px;
          color: white;
          margin-top: auto;
          margin-bottom:auto;
          
         
           }
article {
       height: 400px;
       color: white;
       text-decoration: none;
       
}
h2{
       
       font-size: 60px;
       font-family: Arial;
       
          }
h3{
       color: red;
       font-size: 40px;
       font-family: Sans-Serif;
}
p{
       font-size: 60px;
       text-decoration: none;
          }
a{
      color: white;
      font-size: 30px;
      height: 20px;
        
        
        
  
 }


aside{
        height:40px
}
footer {
       height: 40px;
       color: white;
       background-color: black;
       font-size: 25px;
}

       
nav a{
       
       
       padding-top: 10px;
       padding-bottom: 10px
       padding-left: 80px;
       padding-right: 80px;
       text-decoration: none;
       text-align: auto;
       
         }